In [2]:
# %load ~/ipyhead
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
import seaborn as sns

In [6]:
df = pd.read_csv('iris.tsv', sep='\t')
df.columns = map(str.lower, df.columns)
df.head()

,probe,unq,reference,name,description,category,highest immune level,immune/non-immune ratio
0,226416_at,UNQ21152,LL:90459,3'HEXO,3' exoribonuclease,Multiple,4764,5.64
1,231852_at,UNQ21152,LL:90459,3'HEXO,3' exoribonuclease,Lymphocyte,2471,15.94
2,228376_at,UNQ12525,LL:138121,a1/3GTP,"alpha-1,3-galactosyltransferase pseudogene",Dendritic Cell,11008,5.18
3,216384_x_at,UNQ26094,LL:3,A2MP,alpha-2-macroglobulin pseudogene,Multiple,9331,3.65
4,202804_at,UNQ4185,LL:4363,ABCC1,"ATP-binding cassette, sub-family C (CFTR/MRP),...",Myeloid,4399,3.98

### Extract list of genes by cell type

Output is in `iris_genes_by_category.csv`. Open in excel and copy-paste any column into DAVID. Probe column is Affymetrix 3' IVT ID.

DAVID is at : https://david-d.ncifcrf.gov

Use `Functional Annotation Chart`. Enable FDR in options (divide it by 100 to get proper FDR).

In [7]:
df.category.value_counts()

Multiple          1037
Myeloid            449
Lymphocyte         302
B Cell             121
Monocyte           103
T Cell              94
Dendritic Cell      86
Neutrophil          55
NK Cell             24
dtype: int64

In [14]:
df[df['category'] == 'T Cell'].probe.unique()

array(['57082_at', '221790_s_at', '219918_s_at', '219528_s_at',
       '228597_at', '241871_at', '225297_at', '203418_at', '213226_at',
       '214710_s_at', '228729_at', '202705_at', '213539_at', '205456_at',
       '206804_at', '230489_at', '213958_at', '211900_x_at', '211893_x_at',
       '205758_at', '207979_s_at', '215332_s_at', '210559_s_at',
       '203214_x_at', '203213_at', '223381_at', '226661_at', '224753_at',
       '204172_at', '236341_at', '234362_s_at', '231794_at', '221331_x_at',
       '211469_s_at', '206974_at', '203385_at', '211272_s_at', '222875_at',
       '227607_at', '200664_s_at', '228069_at', '204794_at', '222847_s_at',
       '236787_at', '234440_at', '228273_at', '224634_at', '225520_at',
       '208524_at', '206666_at', '205436_s_at', '228266_s_at', '221756_at',
       '207165_at', '223229_at', '210439_at', '234408_at', '222974_at',
       '208193_at', '235046_at', '236641_at', '206486_at', '221558_s_at',
       '202595_s_at', '209840_s_at', '204825_at', '227686_at', '227598_at',
       '222728_s_at', '212021_s_at', '224799_at', '226008_at',
       '201013_s_at', '218009_s_at', '222740_at', '226034_at',
       '201476_s_at', '222958_s_at', '204092_s_at', '205255_x_at',
       '210972_x_at', '209671_x_at', '209670_at', '211902_x_at',
       '234013_at', '201292_at', '210052_s_at', '217147_s_at', '227801_at',
       '202954_at', '202779_s_at', '219836_at', '223383_at', '204026_s_at'], dtype=object)

In [45]:
genes_by_category = pd.DataFrame(df.groupby('category').probe.unique()).transpose()
genes_by_category.head()

category,B Cell,Dendritic Cell,Lymphocyte,Monocyte,Multiple,Myeloid,NK Cell,Neutrophil,T Cell
probe,"[222556_at, 206121_at, 213281_at, 238117_at, 2...","[228376_at, 213497_at, 202952_s_at, 207328_at,...","[231852_at, 206513_at, 227877_at, 221505_at, 2...","[219558_at, 212297_at, 242853_at, 203300_x_at,...","[226416_at, 216384_x_at, 227621_at, 200728_at,...","[202804_at, 228490_at, 226893_at, 204638_at, 2...","[220307_at, 222786_at, 219529_at, 206245_s_at,...","[229164_s_at, 226442_at, 212360_at, 218023_s_a...","[57082_at, 221790_s_at, 219918_s_at, 219528_s_..."

In [47]:
#pd.DataFrame({'B cell': test['B Cell'].iloc[0]})
genes = pd.DataFrame([genes_by_category[c].iloc[0] for c in genes_by_category]).transpose()
genes.columns = genes_by_category.columns
genes.head()

category,B Cell,Dendritic Cell,Lymphocyte,Monocyte,Multiple,Myeloid,NK Cell,Neutrophil,T Cell
0,222556_at,228376_at,231852_at,219558_at,226416_at,202804_at,220307_at,229164_s_at,57082_at
1,206121_at,213497_at,206513_at,212297_at,216384_x_at,228490_at,222786_at,226442_at,221790_s_at
2,213281_at,202952_s_at,227877_at,242853_at,227621_at,226893_at,219529_at,212360_at,219918_s_at
3,238117_at,207328_at,221505_at,203300_x_at,200728_at,204638_at,206245_s_at,218023_s_at,219528_s_at
4,243780_at,205379_at,208103_s_at,221530_s_at,200729_s_at,205013_s_at,201363_s_at,208304_at,228597_at

In [48]:
genes.tail()

category,B Cell,Dendritic Cell,Lymphocyte,Monocyte,Multiple,Myeloid,NK Cell,Neutrophil,T Cell
1032,None,None,None,None,203739_at,None,None,None,None
1033,None,None,None,None,240013_at,None,None,None,None
1034,None,None,None,None,205039_s_at,None,None,None,None
1035,None,None,None,None,223382_s_at,None,None,None,None
1036,None,None,None,None,236125_at,None,None,None,None

In [49]:
genes.to_csv('iris_genes_by_category.csv')